<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>skills_list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
 <ul class="list-group list-group-flush">
     {#- Sports:#}
     <li class="list-group-item"><span class="badge bg-dark">sports</span>
         <ul class="list-group list-group-flush">
             <li class="list-group-item">running: 100m, 1500m</li>
             <li class="list-group-item">high jump</li>
             <li class="list-group-item">table tennis</li>
             <li class="list-group-item">gym</li>
             <li class="list-group-item">
                 <ul class="list-group list-group-flush">dance
                     <li class="list-group-item">Locking</li>
                     <li class="list-group-item">breaking</li>
                 </ul>
             </li>
              <li class="list-group-item">
                 <ul class="list-group list-group-flush"> e-sports
                     <li class="list-group-item">CS1.5, CS1.6</li>
                     <li class="list-group-item">Dota, Dota2</li>
                      <li class="list-group-item">honor of kinigs</li>
                 </ul>
             </li>
          </ul>
     </li>
     {#- Language:#}
     <li class="list-group-item"><span class="badge bg-dark">language</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">Kaonese</li>
             <li class="list-group-item">Wanxianese</li>
             <li class="list-group-item">Liangshanese</li>
             <li class="list-group-item">Manderian(traditional, simplic)</li>
             <li class="list-group-item">Taiwanese</li>
             <li class="list-group-item">English</li>
             <li class="list-group-item">Japanese</li>
             <li class="list-group-item">English to Chinese translation</li>
          </ul>
     </li>

    {#- Programming language:#}
     <li class="list-group-item"><span class="badge bg-dark">programming language</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">C</li>
             <li class="list-group-item">Python
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">Django</li>
                     <li class="list-group-item">Tensorflow</li>
                     <li class="list-group-item">wi-fi defense and attach</li>
                     <li class="list-group-item">web crawling</li>
                  </ul>
             </li>
             <li class="list-group-item">shell script</li>
             <li class="list-group-item">swift</li>
             <li class="list-group-item">C++</li>
             <li class="list-group-item">Latex</li>
             <li class="list-group-item">matlab</li>
             <li class="list-group-item">assmbly language</li>
             <li class="list-group-item">vitual programming language
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item">Max8</li>
                     <li class="list-group-item">pure-data</li>
                  </ul>
             </li>
          </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">os</span>
       <ul class="list-group list-group-flush">
         <li class="list-group-item">Linux-like</li>
         <li class="list-group-item">macos</li>
         <li class="list-group-item">windows</li>
         <li class="list-group-item">workstation os
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Casio keyboard suite</li>
                 <li class="list-group-item">Roland: fantom, GT core</li>
                 <li class="list-group-item">Native Instrument products suite</li>
              </ul>
         </li>
       </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">design</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">XD</li>
             <li class="list-group-item">ps</li>
             <li class="list-group-item">fusion360</li>
          </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">painting</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">sketch</li>
          </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">music-related</span>
       <ul class="list-group list-group-flush">
         <li class="list-group-item">composition</li>
         <li class="list-group-item">piano/keyboard</li>
         <li class="list-group-item">drums</li>
         <li class="list-group-item">bass</li>
         <li class="list-group-item">guitar</li>
         <li class="list-group-item">flute</li>
         <li class="list-group-item">DAW
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Abelton Live</li>
                 <li class="list-group-item">Logic Pro</li>
                 <li class="list-group-item">Fruit Studio</li>
              </ul>
         </li>
         <li class="list-group-item">VST plug-ins programming</li>
       </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">cooking</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">Japanese street food</li>
             <li class="list-group-item">sichuan food</li>
          </ul>
     </li>
     <li class="list-group-item"><span class="badge bg-dark">vehicle</span>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">bike</li>
             <li class="list-group-item">car</li>
             <li class="list-group-item">Helicopter - waiting</li>
          </ul>
     </li>
 </ul>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>